@import 'common.sass'

body
  color: #fff
  background: #404040
  overflow: hidden
  .window
    position: absolute
    left: 100px
    top: 100px
    width: 800px
    transition: transform 250ms, opacity 250ms
    transform: scale(0)
    opacity: 0
    .titlebar
      background-color: #1f1f1f
      border-top-left-radius: 5px
      border-top-right-radius: 5px
      padding: 4px
      user-select: none
      .titlebar-circle-container
        display: inline-block
        margin: 3px 0 0 0
        .titlebar-circle
          background: url(/images/titlebar-circles.png) no-repeat
          display: inline-block
          height: 12px
          width: 12px
          font-size: 9px
          margin: 0 0 0 4px
          cursor: pointer
        .titlebar-circle.red
          background-position: 0 0
        .titlebar-circle.yellow
          background-position: -12px 0
        .titlebar-circle.green
          background-position: -24px 0
        .titlebar-circle.red:hover
          background-position: 0 -12px
        .titlebar-circle.yellow:hover
          background-position: -12px -12px
        .titlebar-circle.green:hover
          background-position: -24px -12px
      .titlebar-text
        display: inline-block
        margin: 0 0 0 12px
        user-select: none
        cursor: default
    .window-content
      height: 400px
      overflow: auto
      padding: 15px
      color: #e5e5e5
      background: rgba(0, 0, 0, 0.45)
      font-family: Roboto Mono
      font-size: 12px
      div.terminal-input
        padding: 0 0 10px 0
        input#terminal-text-input
          font-family: Roboto Mono
          font-size: 12px
          background-color: transparent
          border: none
          color: white
          outline: none
  #launcher
    background: #232323
    position: fixed
    height: 100vh
    left: 0
    top: 0
    padding: 10px
    img#terminal-launcher-icon