doctype html
html
    head
        include ./includes/head.jade
        link(rel='stylesheet', href='css/main.css')
    body
        h1 John Archuletta
        h2 Full-Stack Web Developer
        script(src='js/main.js')