doctype html
html
  head
    include ./includes/head.pug
    link(href="https://fonts.googleapis.com/css?family=Roboto+Mono", rel="stylesheet")
    link(rel='stylesheet', href='css/main.css')
  body
    .window
      .titlebar
        .titlebar-circle-container
          .titlebar-circle.red
          .titlebar-circle.yellow
          .titlebar-circle.green
        .titlebar-text
          span Terminal
      .window-content
        .terminal-output
        .terminal-input
          span(style="color: #71E53B") user@linux
          span(style="color: #FFF") :
          span(style="color: #7DD6E5") ~
          span(style="color: #FFF") $&nbsp
          input(id="terminal-text-input", type="text")
    #launcher
      img(id='terminal-launcher-icon', src='images/terminal.svg')
    script(src="js/f/main.js")