doctype html
html
  head
    include ./includes/head.jade
    link(href="https://fonts.googleapis.com/css?family=Roboto+Mono", rel="stylesheet")
    link(rel='stylesheet', href='css/main.css')
  body
    .window
      .titlebar
        .titlebar-circle-container
          .titlebar-circle.red
          .titlebar-circle.yellow
          .titlebar-circle.green
        .titlebar-text
          span Terminal
      .window-content
        p Welcome to the personal website of John Archuletta.
        <br>
        p Command List:
        p show portfolio
        <br>
        p linux: ~/ |