doctype html
html
  head
    include ./includes/head.jade
    link(rel='stylesheet', href='css/main.css')
  body
    .window
      .titlebar
        .titlebar-circle-container
          .titlebar-circle.red
          .titlebar-circle.yellow
          .titlebar-circle.green
        .titlebar-text
          span Terminal
      .window-content
        span Hello World!