<!doctype html>
<html lang="en">
    <head>
        <title>John Archuletta | Full-Stack Web-Developer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="developer, javascript, nodejs, expressjs, html, css, denver, colorado, freelance, angular">
        <meta name="description" content="Personal website of John Archuletta.">
        <meta name="author" content="John Archuletta">
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body>
        <h1 class="expand-animation">Hello, I'm John Archuletta</h1>
        <p class="expand-animation">A full-stack JavaScript developer based in Denver, Colorado.</p>
        <p class="expand-animation a-box"></p>
        <p class="expand-animation a-box"></p>
        <p class="expand-animation a-box"></p>
        <script src="animejs/anime.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>