doctype html
html
  head
    include includes/head
    link(rel='stylesheet', href='css/main.css')
  body
    h1.text-center Oops!
    h3.text-center This page doesn't exist!
    script(src='js/main.js')